* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-flow: column;
    gap: 16px;
}

#container {
    border: 1px solid black;
    height: 800px;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
   
}

button {
    background-color: purple;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 16px;
}